<div class="table-container">
  <div class="table-header"><h3 class="table-title">Conversations</h3></div>
  <table>
    <thead>
      <tr><th>Subject</th><th>Merchant</th><th>Unread</th><th>Updated</th></tr>
    </thead>
    <tbody>
      <% conversations.each do |conversation| %>
        <tr>
          <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
          <td><%= conversation.supplier.name %></td>
          <td><%= conversation.messages.where.not(sender: current_user).unread.count %></td>
          <td><%= conversation.updated_at.strftime("%b %d, %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
